<%- include('_partials/header') -%> 

<%- include('_partials/menu') -%>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<main>
  <%- include('_partials/delete_modal') -%>

  <div class="row">
    <div class="col-12 d-flex flex-column">
      <h2 class="mb-3"><%- gym.name %> - equipment list</h2>

      <table class="table table-striped">
        <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Barcode</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Description</th>
            <th>Type</th>
            <th>Count</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% equipments.forEach(function(equipment, index){ %>
            <tr>
              <td><%= index + 1 %></td>
              <td><%= equipment.barcode %></td>
              <td><%= equipment.manufacturer %></td>
              <td><%= equipment.model %></td>
              <td><%= equipment.description %></td>
              <td><%= equipment.type %></td>
              <td><%= equipment.count %></td>
              <td style="width: 30px; white-space: nowrap">
                <a
                  href="/gyms/<%- gym._id %>/equipment/<%- equipment._id %>"
                  class="btn btn-sm btn-primary">
                  Edit
                </a>
                <button
                  class="btn btn-sm btn-danger"
                  data-bs-toggle="modal"
                  data-bs-target="#deleteModal"
                  data-gymid="<%= gym._id %>"
                  data-equipmentid="<%= equipment._id %>">
                  Delete
                </button>
              </td>
            </tr>
          <% }); %>
        </tbody>
      </table>

      <a
        href="/gyms/<%- gym._id %>/equipment/new"
        class="btn btn-primary align-self-end">
        Add new equipment
      </a>
    </div>
  </div>
</main>

<script type="text/javascript">
  $('#deleteModal').on('show.bs.modal', function (e) {
    let gymId = $(e.relatedTarget).data('gymid');
    let equipmentId = $(e.relatedTarget).data('equipmentid');
    $('#delete-form').get(0).setAttribute('action', `/gyms/${gymId}/equipment/${equipmentId}?_method=DELETE`);
});
</script>

<%- include('_partials/footer') -%>
